[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "==2.2.5"
flasgger = "==0.9.3"
prometheus_client = "*"

[requires]
python_version = "3.7"